@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "tailwindcss";

@theme {
  --color-bitly: #031f39;
  --color-orange: #ff7a00;
}

body {
  font-family: "Poppins", sans-serif;
}
